html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    background: rgb(0, 212, 255);
    background: linear-gradient(174deg, rgba(0, 212, 255, 1) 0%, rgba(122, 122, 232, 1) 43%, rgba(60, 53, 182, 1) 100%);
}

section {
    width: auto;
    min-height: 100%;
    height: calc(100vh - 11rem);
    padding: 1rem;
    padding-top: 10rem;
}

a, a:focus {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: rgb(170, 214, 238);
}

nav ul {
    list-style: none;
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    margin: auto;
    background: rgb(16, 112, 132);
}

label {
    font-size: 1.6rem;
    padding: 1.5rem 0 0.3rem;
}

input[type="text"] {
    width: 15rem;
    height: 2.5rem;
}

input[type="text"], 
textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.15s, box-shadow 0.15s;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #2da797;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(16, 112, 132, 0.688);
}

textarea {
    width: 50rem;
    height: 10rem;
    resize: none;
}

button {
    padding: 0;
    border: 1px solid  rgb(41, 140, 182);
    border-radius: 4px;
    background: rgba(40, 137, 157, 0.507);
}

button[type="submit"] {
    font-size: 1.4rem;
    color: aliceblue;
    width: 9rem;
    height: 4rem;
    margin: 2rem 0 0;
}

.icon-box {
    padding: 0.5rem;
}

button:hover {
    background: rgba(31, 105, 120, 0.507);
}

button:focus {
    background: rgba(36, 127, 145, 0.847);
}

.nav-list {
    padding-left: 2.5rem;
}    

.container {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 500px;
    margin-block: 2rem;
    text-align: center;
    font-size: large;
}

.form-box {
    background: rgba(9, 54, 62, 0.327);
    padding: 0 2rem 2rem; 
    margin-bottom: 2rem;
}   

.list-box {
    padding: 2rem;
    display: flex;
}

.add-page-box {
    display: flex;
    flex-direction: column;
}

.huy {
    height: 2rem;
}

.heading-list {
    font-size: 5rem;
    font-weight: 300;
}

.list-label {
    font-size: 2.5rem;
    font-weight: 400;
    width: 100%;
    color: #14e2c7;
    padding: 0;
}

img.icons {
    width: 20px;
    filter: invert(83%) sepia(18%) saturate(183%) hue-rotate(188deg) brightness(108%) contrast(109%);
}

.form-left-side,
.form-right-side {
    display: flex;
    flex-direction: column;
}

.form-left-side {
    flex-basis: 100%;
}

.form-right-side {
    align-items: flex-end;
    justify-content: space-between;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(51, 48, 48);
}

.box {
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 10px 10px 30px rgb(197, 196, 196);
}

button {
  background-color: rgb(32, 147, 247);
  border: 0;
  padding: 1rem;
  font-size: medium;
}

a {
  text-decoration: none;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
}